<div class="container mt-5 d-flex justify-content-center table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th class="col-2">Order</th>
        <th class="col-6">Date</th>
        <th class="col-2">Total</th>
        <th class="col-2">Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let order of orders$ | async; let i = index; let j = count">
        <tr routerLink="/order/{{ order.id }}">
          <td class="font-weight-bold"># {{ j - i }}</td>
          <td>{{ order.orderDate | date: 'medium' }}</td>
          <td>{{ order.total | currency }}</td>
          <td>{{ order.status }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
