<div class="row" *ngIf="product">
  <div class="col-6">
    <img
      src="{{ product.pictureUrl }}"
      alt="{{ product.name }}"
      class="img-fluid"
    />
  </div>
  <div class="col-6">
    <h1>{{ product.name }}</h1>
    <p>{{ product.price | currency }}</p>
    <div class="d-flex justify-content-start align-items-center">
      <i style="cursor: pointer" class="fa mr-2 fa-minus-circle text-warning">
      </i>
      <span class="font-weight-bold" style="font-size: 1.5em">2</span>
      <i
        style="cursor: pointer"
        class="fa mx-2 fa-plus-circle text-warning"
      ></i>
      <button class="btn btn-outline-secondary btn-lg ml-4">Add to Cart</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 ml-3">
      <h4>Description</h4>
      <p>{{ product.description }}</p>
    </div>
  </div>
</div>
